.stopwatch {
    color: white;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
}

.time {
    display: flex;
    justify-content: center;
    color: white;
    height: 60px;
    display: flex;
}

.milliseconds {
    position: absolute;
    font-size: 1rem;
    transform: translate(100px, 30px);
}

.stopwatch__buttons__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.toggle__start {
    height: 50px;
    width: 80px;
    transform: translateX(40px);
    border: .5px;
    border-style: solid;
    border-radius: 20px;
    border-color: rgba(255, 255, 255, 0);
    background-color: rgb(76, 76, 249);
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 0.5s;
    z-index: 2;
}

.toggle__start.active {
    background-color: rgb(121, 30, 12);
}

.toggle__start.has__started {
    transform: translateX(-5px);
    transition-property: transform;
    transition-duration: 0.5s;
}

.clear__stopwatch {
    height: 50px;
    width: 80px;
    transition: all 0.5s ease-in-out;
    transform: translateX(-40px);
    border: .5px;
    border-style: solid;
    border-radius: 20px;
}

.clear__stopwatch.active {
    transform: translateX(5px);
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}