.timer {
    color: white;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    margin: auto;
}

.time {
    display: flex;
    justify-content: center;
    color: white;
    height: 60px;
}

.timer__buttons__container {
    display: grid;
    width: 300px;
    height: 120px;
    position: relative;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.clock__button {
    width: 40px;
    height: 30px;
    border-style: solid;
    border-radius: 5px;
    margin: auto;
    font-weight: bold;
    cursor: pointer;
}

.clock__button:hover {
    background-color: rgb(158, 158, 158);
}

.start__button {
    background-color: rgb(14, 185, 128);
}

.clear__button {
    background-color: rgb(188, 33, 33);
}

.base-timer {
    position: relative;
    height: 300px;
    width: 300px;
}
  
/* Removes SVG styling that would hide the time label */
.base-timer__circle {
    fill: none;
    stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: rgba(128, 128, 128, 0.535);
}

.base-timer__label {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 110px);
    color: white;
    font-size: 3.3rem;
    justify-content: center;    
}