.timer {
    color: white;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    padding-left: 26px;
}

.timer.active span {
    color: rgb(131, 131, 131);
}

.timer span {
    transition: all .8s ease;
}

.time {
    display: flex;
    justify-content: center;
    color: white;
    height: 60px;
}

.play__button {
    width: 26px;
    height: 26px;
    border-style: solid;
    border-color: #fff;
    background-color: transparent;
    transform: translate(20px, 10px);
    transition: all 0.2s ease-in-out;
    z-index: 2;
    cursor: pointer;

    /* play button not paused */
    border-width: 13px 0px 13px 26px;
    border-color: transparent transparent transparent white;
}

.play__button.active {
    border-style: double;
    border-width: 0px 0px 0px 26px;
    transition: all 0.2s ease-in-out;
}

.play__button__highlight {
    width: 45px;
    height: 45px;
    position: absolute;
    transform: translate(98px, 0px);
    border-radius: 50%;
    cursor: pointer;
}

.play__button__highlight:hover {
    background-color: rgb(77, 77, 77, .7);
}

.play__button:hover + .play__button__highlight {
    background-color: rgb(77, 77, 77, .7);
}