* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

html {
    background: rgb(0, 0, 0);
}

#navbar {
    background: rgb(0, 0, 0);
    background: linear-gradient(270deg, rgba(37,37,37,1) 0%, rgba(25,25,25,1) 50%, rgba(15,15,15,1) 100%); 
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: start;
    border-bottom-style: solid;
    border-radius: .5px;
    border-bottom-color: rgb(255, 255, 255, .1);
}

#site__icon {
    position: relative;
    left: 15%;
}

#title {
    display: flex;
    align-items: center;
    position: relative;
    left: 25%;
    font-weight: bold;
    color: white;
    font-size: 2rem;
}

.tabs {
    font-size: 1rem;
    color: white;
    position: relative;
    left: 70%;
    display: inherit;
    align-items: center;
    margin: 20px;
    padding: 10px 10px;
    border-radius: 10px;
}

.tabs:hover {
    background-color: rgb(102, 102, 102);
    cursor: pointer;
}

/* timer */

#time__container {
    color: white;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
    margin-top: 30px;
}

.timers {
    color: white;
    font-size: 6rem;
    height: 70px;
    display: flex;
}

#clock {
    display: flex;
    justify-content: center;
}

.play__button__icon {
    position: relative;
    height: 50px;
    width: 50px;
    top: 30px;
    left: 50px;
    background-color: transparent;
    background-image: url("./images_sound/play_btn.png");
    border: none;
}

.active {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: transparent;
    background-image: url("./images_sound/pause_btn.png");
    border: none;
}

/* analysis section */

.analysis__stats {
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.analysis__stats > * {
    font-size: 1.3rem;
    color: #fff;
    margin: 0 100px;
}

#analysis__section__container {
    position: relative;
    margin: auto;
    top: 100px;
    height: 300px;
    width: 33vw;
    overflow-y: scroll;
}

#analysis__section {
    position: absolute;
    min-height: inherit;
    min-height: 300px;
    height: auto;
    width: inherit;
    background-color: rgb(156, 156, 156);
    opacity: .3;
    border-style: solid;
    border-radius: 25px;
    border-color: rgb(255, 255, 255);
}

.thought__times {
    color: #fff;
    font-size: 1rem;
    z-index: 2;
    padding: 8px 0px 0px 8px;
}

.thought__times > * {
    margin: 0px 10px;
}