* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

html {
    background: rgb(0, 0, 0);
    overflow-x: hidden;
}

#navbar {
    position: relative;
    background: rgb(0, 0, 0);
    background: linear-gradient(270deg, rgba(37,37,37,1) 0%, rgba(25,25,25,1) 50%, rgba(15,15,15,1) 100%);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: start;
    border-bottom-style: solid;
    border-radius: .5px;
    border-bottom-color: rgb(255, 255, 255, .1);
    z-index: 2;
}

#site__icon {
    position: relative;
    padding-left: 10px;
}

#title {
    display: flex;
    align-items: center;
    position: relative;
    left: 25%;
    font-weight: bold;
    color: white;
    font-size: 2rem;
}

.navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
    display: block;
    z-index: 1;
}

.navbar__toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.navbar__toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.navbar__toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

#mobile__menu {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 1%;
    right: 2%;
    cursor: pointer;
    z-index: 3;
    transform: translate(-5px, 10px);
}

.navbar__toggle__highlight {
    position: absolute;
    top: 1%;
    right: 2%;
    height: 45px;
    width: 45px;
    transform: translate(2px, 2px);
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
}

#mobile__menu:hover + .navbar__toggle__highlight {
    background-color: rgb(77, 77, 77, .7);
}

.mobile__menu__highlight:hover {
    background-color: rgb(77, 77, 77, .7);
}

#navbar__menu {
    display: grid;
    grid-template-columns: auto;
    position: absolute;
    right: 0%;
    top: -100px;
    height: 120px;
    z-index: 1;
    width: 20%;
    margin: 0;
    font-size: 1rem;
    background: rgb(0, 0, 0);
    background: linear-gradient(270deg, rgba(37,37,37,1) 0%, rgba(25,25,25,1) 50%, rgba(15,15,15,1) 100%);
    transition: all .7s ease;
    border-style: solid;
    border-width: 0px 0px 1.5px 1.5px;
    border-color: rgb(72, 72, 72);
}

#navbar__menu.active {
    top: 50px;
    right: 0%;
}

.tabs {
    height: 100%;
    width: 100%;
    color: #fff;
    margin: auto;
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.tabs:hover {
    border-radius: 7px;
    background-color: rgb(255, 255, 255, .15);
    cursor: pointer;
}

/* timer */
.timer {
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    transform: translateX(30px);
    margin-top: 30px;
}

.timer span {
    transition: all .5s ease-in-out;
}

.timer.active span {
    background-color: rgb(77, 77, 77, .7);
}

.time {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 3rem;
    height: 60px;
    display: flex;
}

#clock {
    display: flex;
    justify-content: center;
}

.play__button__icon {
    position: relative;
    height: 40px;
    width: 40px;
    left: 20px;
    transform: translate(5px, 6px);
    background-color: transparent;
    background-image: url("./images_sound/play_btn.png");
    border: none;
    cursor: pointer;
    z-index: -2;
}

.play__button__icon__highlight {
    position: inherit;
    transform: translate(-30px, -4px);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    z-index: -3;
    cursor: pointer;
}

.play__button__icon__highlight:hover {
    background-color: rgb(77, 77, 77, .7);
}

.play__button__icon:hover + .play__button__icon__highlight {
    background-color: rgb(77, 77, 77, .7);
}

.play__button__icon.active {
    position: relative;
    height: 40px;
    width: 40px;
    background-size: contain;
    background-color: transparent;
    transform: translate(0px, 6px);
    background-image: url("./images_sound/pause_btn.png");
    overflow: hidden;
    border: none;
}

/* calendar */
.calendar__container {
    margin: auto;
    width: 300px;
    height: 300px;
    transform: translateY(20px);
}

.calendar__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
}

.calendar__month__container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

.change__month__button {
    height: 30px;
    width: 30px;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
}

.change__month__button:hover {
    background-color: rgba(128, 128, 128, 0.551);
}

.change__month__button .arrow__bar {
    height: 1.3px;
    width: 10px;
    display: block;
    background: rgb(255, 255, 255);
    margin: auto;
}

#last__month .arrow__bar:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}

#last__month .arrow__bar:nth-child(2) {
    transform: translateY(15.5px) rotate(45deg);
}

#next__month .arrow__bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

#next__month .arrow__bar:nth-child(2) {
    transform: translateY(15.5px) rotate(-45deg);
}

.calendar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
}

.calendar * {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(154, 154, 154);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar__dates {
    border-radius: 50%;
    cursor: pointer;
}

.calendar__dates:hover {
    background-color: rgba(70, 70, 70, 0.551);
}

.calendar__dates.today {
    background-color: rgba(223, 76, 76);
}

.calendar__dates.today:hover {
    background-color: rgba(223, 76, 76);
}

/* log data section */
#log__data {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    transform: translate(-50%, 80px);
    height: 140px;
    width: 140px;
    background-color: rgb(37, 37, 37);
    border-style: solid;
    border-radius: 50%;
    border-color: rgb(255, 255, 255);
    cursor: pointer;
}

#log__data > *{
    color: #fff;
    font-weight: bold;
}